<div class="row justify-content-md-center">
  <div class="col-md-10 p-0">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="alert-content"></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>