<!DOCTYPE html>
<html>

<head>
    {% include 'head.html.j2'%}
  <style>
    /* simulate button click for swipe gestures */
    .simulated-button-click {
      color: var(--bs-btn-hover-color);
      background-color: var(--bs-btn-hover-bg);
      border-color: var(--bs-btn-hover-border-color);
    }
  </style>
</head>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startX;
    var endX;
    var threshold = 150; // Minimum distance of swipe

    // Function to simulate button click and add button hover
    function simulateClick(elementId) {
        var element = document.getElementById(elementId);
        if (element) {
            element.click();
            addHoverEffect(elementId);
            setTimeout(function() {
                removeHoverEffect(elementId);
            }, 200);
        }
    }

    function addHoverEffect(elementId) {
        var element = document.getElementById(elementId);
        if(element) {
            element.classList.add('simulated-button-click');
        }
    }

    function removeHoverEffect(elementId) {
        var element = document.getElementById(elementId);
        if(element) {
            element.classList.remove('simulated-button-click');
        }
    }

    document.addEventListener('touchstart', function(e) {
        startX = e.changedTouches[0].screenX;
    }, false);

    document.addEventListener('touchend', function(e) {
        endX = e.changedTouches[0].screenX;

        // Check if swipe is right to left (next)
        if(startX > endX + threshold){
            simulateClick('button-next');
        }
        // Check if swipe is left to right (previous)
        else if(startX < endX - threshold){
            simulateClick('button-prev');
        }
    }, false);

    // Arrow keys detection
    document.addEventListener('keydown', function(e) {
            if(e.key === 'ArrowLeft') {
                simulateClick('button-prev');
          //      removeHoverEffect('button-prev'); // Ensure hover effect is removed
            }
            if(e.key === 'ArrowRight') {
                simulateClick('button-next');
          //      removeHoverEffect('button-next'); // Ensure hover effect is removed
            }
        }, false);
    });
</script>

<body>
    <div class="container text-center">
        {% include 'heading.html.j2' %}
        <div class="row justify-content-md-center">
            <div class="col-md-5 card p-3 g-2 vh-100">
                <h4 id="header-links-count"> {{ beta | length }} beta videos for {{ climb_name }}</h4>
                <p class="mb-3"><small><a id="anchor-back">Back to search</a></small></p>
                <div id="div-results-list" class="list-group overflow-auto">
                    {% for angle, user, link in beta %}
                    <button type="button" class="list-group-item list-group-item-action" data-link="{{ link }}"
                        data-handle="{{ user }}" data-index="{{ loop.index0 }}">
                        {{ ("@" + user) if user else "?" }} at {{ (angle if angle else "?") | string + "&deg;" }}
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5 card p-3 g-2 vh-100" id="div-beta">
                <div class="row g-0 p-3">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="button-prev" disabled>&larr;</button>
                    </div>
                    <div class="col-8">
                        <h4 id="header-handle"></h4>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="button-next" disabled>&rarr;</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col ratio overflow-auto" style="--bs-aspect-ratio: 120%;" id="div-beta-iframe">
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            {% include 'footer.html.j2'%}
        </div>
    </div>
    <script src="{{url_for('static', filename='js/beta.js')}}"></script>
</body>

</html>
