<!DOCTYPE html>
<html>

<head>
    {% include 'head.html.j2'%}
    <style>
        /* simulate button click for swipe gestures */
        .simulated-button-click {
            color: var(--bs-btn-hover-color);
            background-color: var(--bs-btn-hover-bg);
            border-color: var(--bs-btn-hover-border-color);
        }
    </style>
</head>

<body>
    {% include 'toast.html.j2' %}
    <div class="container text-center">
        {% include 'heading.html.j2' %}
        <div class="row justify-content-md-center">
            <div class="col-md-5 card p-3 g-2 vh-100">
                <h4 id="header-links-count"> {{ beta | length }} beta videos for {{ climb_name }}</h4>
                <p class="mb-3"><small><a id="anchor-back">Back to search</a></small></p>
                <div id="div-results-list" class="list-group overflow-auto">
                    {% for angle, user, link in beta %}
                    <button type="button" class="list-group-item list-group-item-action" data-link="{{ link }}"
                        data-handle="{{ user }}" data-index="{{ loop.index0 }}">
                        {{ ("@" + user) if user else "?" }} at {{ (angle if angle else "?") | string + "&deg;" }}
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5 card p-3 g-2 vh-100" id="div-beta">
                <div class="row g-0">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="button-prev" disabled>&larr;</button>
                    </div>
                    <div class="col-10">
                        <h4 id="header-handle"></h4>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary" id="button-next" disabled>&rarr;</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col ratio overflow-auto" style="--bs-aspect-ratio: 120%;" id="div-beta-iframe">
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            {% include 'footer.html.j2'%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/beta.js')}}"></script>
    <script src="{{url_for('static', filename='js/swipe.js')}}"></script>

</body>

</html>