<!DOCTYPE html>
<html>

<head>
  {% include 'head.html.j2'%}
  <style>
    .input-group-text {
      width: 175px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-sm text-center">
    {% include 'heading.html.j2' %}
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <form class="card p-3 bg-light" action="/filter" id="form-board">
          <div class="input-group mb-3">
            <span class="input-group-text">Board</span>
            <select class="form-select" id="select-board" name="board">
              <option value="decoy">Decoy</option>
              <option value="grasshopper">
                Grasshopper
              </option>
              <option value="kilter" selected>Kilter</option>
              <option value="tension">Tension</option>
              <option value="touchstone">
                Touchstone
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Layout</span>
            <select class="form-select" id="select-layout" name="layout">
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Size</span>
            <select class="form-select" id="select-size" name="size"></select>
          </div>
          <div class="input-group mb-1 d-grid gap-2">
            <!-- Button trigger modal -->
            <button id="button-login" type="button" class="btn btn-secondary" data-bs-toggle="modal"
              data-bs-target="#div-modal" disabled>
            </button>
          </div>
          <div class="form-text mb-3" id="div-login-text">
          </div>
          <div id="div-sets" class="d-none"></div>
          <div id="div-sets-inputs"></div>
          <div class="input-group mb-3 d-grid gap-2">
            <button class="btn btn-primary" type="submit" id="button-next" disabled>
              Next
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-md-center mt-3">
      {% include 'footer.html.j2'%}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="div-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="header-modal-title"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form id="form-login">
          <div class="modal-body">
            <div class="mb-3">
              <label for="input-username" class="form-label" id="label-username"></label>
              <input type="text" class="form-control" id="input-username" autocomplete="on" minlength="1" required>
            </div>
            <div class="mb-3">
              <label for="input-password" class="form-label" id="label-password"></label>
              <input type="password" class="form-control" id="input-password" autocomplete="on" minlength="1" required>
            </div>
          </div>
          <div class="modal-footer">
            <div class="input-group d-grid gap-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="input-group">
              <p class="text-end text-danger" id="paragraph-login-error"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/boardSelection.js')}}"></script>
</body>

</html>