<footer>
  <a class="fs-6 fw-light" href="https://github.com/lemeryfertitta/Climbdex"><img
      src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" width="28px"
      height="28px" /><small>Source Code</small></a>
  &middot;
  <a class="fs-6 fw-light" href="http://mb.timparkin.net/">
    <img src="https://moonboard.com/favicon.ico" width="20px" height="20px" /><small>Moonboard Search Engine</small>
  </a>
</footer>